<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main>
            <% if (products.length) { %>
                <ul>
                    <% products.forEach(product => { %>
                        <li>
                            <p><%= product.title %> (<%= product.qty %>)</p>
                            <form action="cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= product.id %>" />
                                <button type="submit">remove from cart</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No products in Cart</h1>
            <% } %>
        </main>
        <%- include('../partials/end.ejs') %>