<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
        <main>
            <% if (products.length) { %>
                <ul>
                    <% products.forEach(product => { %>
                        <li>
                            <p><%= product.title %> (<%= product.quantity %>)</p>
                            <form action="cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= product._id %>" />
                                <button type="submit">remove from cart</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <br />
                <br />
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order Now</button>
                    </form>
                </div>
            <% } else { %>
                <h1>No Products in Cart</h1>
            <% } %>
        </main>
        <%- include('../partials/end.ejs') %>